@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --color-primary: var(--color-indigo-600);
  --color-primary-hover: var(--color-indigo-700);
  --color-bg-main: var(--color-slate-100);
  --color-bg-sidebar: var(--color-white);
  --color-text-main: var(--color-slate-900);
  --color-text-muted: var(--color-slate-500);
}

@layer base {
  body {
    @apply antialiased text-slate-900;
  }
}

.markdown-body h1 {
  @apply text-3xl font-extrabold mb-6 mt-8 tracking-tight text-slate-900 leading-tight;
}

.markdown-body h2 {
  @apply text-2xl font-bold mb-4 mt-6 tracking-tight text-slate-800;
}

.markdown-body p {
  @apply mb-5 leading-relaxed text-slate-600 text-sm;
}

.markdown-body strong {
  @apply font-bold text-slate-900;
}

.markdown-body ul {
  @apply list-disc pl-6 mb-6 text-slate-600 text-sm;
}

.markdown-body li {
  @apply mb-2;
}

.markdown-body a {
  @apply text-indigo-600 underline decoration-1 underline-offset-4 font-semibold hover:text-indigo-700 transition-colors;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(71, 85, 105, 0.1); /* slate-600 with opacity */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(71, 85, 105, 0.2);
}
